* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
    background-color: #eee;
    color: #333;
}

.header-bar {
    background-color: #d48f0f;
    padding: 1rem;
    background-image: url('./doncella_t.webp'); 
    background-size: cover;
    background-position: 0% 58%;
    background-repeat: no-repeat;
}

.header-img {
    font-size: xx-large;
    color: #dedede;
    text-align: center;
    width: 20%;
}

.footer {
    margin: 3rem 0;
    padding: 1.5rem;
    position: sticky;
    text-align: center;
    color: #9c9c9c;
    bottom: 0;
}

.navbar {
    height: 3rem;
    color: #eee;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;

}
.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: .5rem;
}

.nav-links {
    margin: 0;
    border-radius: 5%;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li.active {
    background-color: #181c46;
}

.nav-links li:hover {
    /* background-color: #8f92e7; */
    text-decoration: underline;
    /* font-size: larger; */
}

.page {
    margin: 4rem;
    text-align: center;
    font-size: large;
}

.about-content {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    gap: 10rem
}

.contact-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 5rem;
}
.contact-info span {
    font-weight: bold;
}

.profile-img {
    border-radius: 100%;
    width: 30rem;
}

h1 {
    margin-bottom: 4rem;
}

.gallery {
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}
.gallery-pic {
    break-inside: avoid; 
    display: inline-block; 
    width: 100%;
    margin-bottom: 2rem;
}

.gallery-pic img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    /* box-shadow: 0 4px 8px rgba(31, 23, 84, 0.4); */
}

.gallery-pic img {
    width: 100%;
    height: auto;
    display: block;
    /* border-radius: 2%; */
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.contact-section p{
    padding: 0;
    margin: 0;
}

.icon-link {
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.icon-link img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.icon-link a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
.icon-link:hover {
    text-decoration: underline;
    filter: invert(48%) sepia(79%) saturate(1000%) hue-rotate(78deg) brightness(80%) contrast(119%);
}
/* Responsiveness: Adjust column count based on screen size */
@media (max-width: 1200px) {
    .gallery {
        column-count: 2;
        column-gap: 1.5rem;
        padding: 1rem;
    }

    .about-content {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .contact-info {
        gap: 2rem;
    }
}


@media (max-width: 800px) {
    .nav-links {
        gap: .5rem;
        padding: 0;
}
    .gallery {
        column-count: 1;
        padding: .5rem;
  }
}