* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace, 'Lucida Sans';
    background-color: #eee;
    color: #333;
}

.header-bar {
    background-color: #d48f0f;
    padding: 1rem;
    background-image: url('./doncella_t.webp'); 
    background-size: cover;
    background-position: 0% 58%;
    background-repeat: no-repeat;
}

.header-img {
    font-size: xx-large;
    color: #dedede;
    text-align: center;
    width: 20%;
}

.footer {
    margin: 3rem 0;
    padding: 1.5rem;
    position: sticky;
    font-size: small;
    text-align: center;
    color: #9c9c9c;
    bottom: 0;
}

.navbar {
    height: 3rem;
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;

}
.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: .5rem;
}

.nav-links {
    margin: 0;
    border-radius: 5%;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li.active {
    background-color: #181c46;
}

.nav-links li:hover {
    /* background-color: #8f92e7; */
    text-decoration: underline;
    /* font-size: larger; */
}
.page {
    margin: 4rem;
    text-align: center;
    font-size: large;
}

.about-content {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    gap: 10rem
}

.contact-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 5rem;
}
.contact-info span {
    font-weight: bold;
}

.profile-img {
    /* border-radius: 100%; */
    /* width: 30rem; */
    width: 30vw;
}

.coms-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.coms-pic {
    width: 50vw;
}

h1 {
    margin-bottom: 4rem;
}

.gallery {
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}
.gallery-pic {
    break-inside: avoid; 
    display: inline-block; 
    width: 100%;
    margin-bottom: 2rem;
}

.gallery-pic img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    /* box-shadow: 0 4px 8px rgba(31, 23, 84, 0.4); */
}

.gallery-pic img {
    width: 100%;
    height: auto;
    display: block;
}

.modalWrap {
    color: #eee;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

.fullscreen-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    break-inside: avoid;
    width: 64%;
    height: 95vh;
}

.fullscreen-pic img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
}

.prevBtn, .nextBtn {
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevBtn img, .nextBtn img, .exitBtn img {
    width: 2vw;
}

.prevBtn img:hover, .nextBtn img:hover, .exitBtn img:hover {
    filter: brightness(50%);
    transform: scale(1.3);
}

.description-block {
    width: 30%;
    color: #9c9c9c;
    margin-right: 3vw;
}
.exitBtn {
    position: absolute;
    color: #eee;
    top: 2vh;
    right: 2vw;
    z-index: 101;
}
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.contact-section p{
    padding: 0;
    margin: 0;
}

.icon-link {
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.icon-link img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.icon-link a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
.icon-link:hover {
    text-decoration: underline;
    filter: invert(48%) sepia(79%) saturate(1000%) hue-rotate(78deg) brightness(80%) contrast(119%);
}

@media (max-width: 1200px) {
    .gallery {
        column-gap: 1.5rem;
        padding: 1rem;
    }

    .about-content {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .contact-info {
        gap: 2rem;
    }
}


@media (max-width: 800px) {
    .page {
        margin: 1.5rem
    }

    .footer {
        position: relative;
    }
    .nav-links {
        font-size: smaller;
        gap: .5rem;
        padding: 0;
    }
    h1, h2 {
        font-size: x-large;
    }
    p {
        font-size: medium;
    }
    .gallery {
        column-count: 1;
        padding: .5rem;
    }
    .navbar {
        font-size: medium;
    }
    .profile-img {
        width: 50vw;
    }
}

@media (max-height: 800px) {
    body {
        font-size: smaller;
    }
    .page {
        margin: 1.5rem
    }

    .footer {
        position: relative;
    }
}